<div class="simple-1" style="background-color: blue; border: 1px solid black">
  <div class="colors">
      <span class="hello">Hello {{name}}! <strong>You have {{messageCount}} messages!</strong></span>

      <ul>
          {{#colors}}
          <li class="color">{{.}}</li>
          {{/colors}}
      </ul>
      {{^colors}}
      <div>
          No colors!
      </div>
      {{/colors}}
  </div>
  <button type="button" class="{{#primary}}primary{{/primary}}{{^primary}}secondary{{/primary}}">Click me!</button>
</div>